<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Active bins<small>Binss</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              ><i class="fa fa-wrench"></i
            ></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Settings 1</a>
              <a class="dropdown-item" href="#">Settings 2</a>
            </div>
          </li>
          <li>
            <a class="close-link" href="/"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box table-responsive">
              <p class="text-muted font-13 m-b-30">Displaying all the active bins.</p>

              <table
                id="datatable-bins"
                class="table table-striped table-bordered dt-responsive nowrap"
                cellspacing="0"
                width="100%"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Bin UID</th>
                    <th>Address</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Level</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(bins.length>0) {bins.forEach((bin, index) => { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= bin.bin_id %></td>
                    <td><%= bin.bin_address %></td>
                    <td><%= bin.latitude %></td>
                    <td><%= bin.longitude %></td>
                    <td><%= bin.level %></td>
                    
                    <td>
                      <a class="text-info" href="/bins/details/<%= bin.bin_id %>">View</a>
                      | <a href="/bins/edit/<%= bin.bin_id %>">Edit</a> |

                      <a class="text-danger" href="/bins/delete/<%= bin.bin_id %>">Delete</a>
                    </td>
                  </tr>
                  <% });} else { %>
                  <tr>
                    No record found
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#datatable-bins').DataTable({
      columnDefs: [
        {
          targets: [-1],
          searchable: false,
          orderable: false,
        },
      ],
    });
  });
</script>
