<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= toProperCase(title || 'N/A') %><small>Employee Details</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              ><i class="fa fa-cog" aria-hidden="true"></i
            ></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/employee/edit/<%= employee.employee_id %>"
                >Edit Profile</a
              >
              <a class="dropdown-item" href="/employee/delete/<%= employee.employee_id %>"
                >Delete</a
              >
            </div>
          </li>
          <li>
            <a class="close-link" href="/employee"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Tracks</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Vehicles</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="col-md-4 widget widget_tally_box">
              <div class="x_panel ">
                <div class="x_content">
                  <h4 class="name"> <span style="padding:10px" class="fa fa-user"></span><%= toProperCase(employee.full_name || 'N/A') %></h4>
                  <img
                    src="<%= employee.avatar ? `/employee/avatar/${employee.avatar}` : '/img/placeholder-avatar.png' %>"
                    alt="..."
                    height="100%"
                    width="100%"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="x_panel">
                <div class="x_content">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Full Name</th>
                        <td><%= toProperCase(employee.full_name || 'N/A') %></td>
                        <th scope="row">Gender</th>
                        <td><%= toProperCase(employee.gender) %></td>
                      </tr>
                      <tr>
                        <th scope="row">CNIC</th>
                        <td><%= employee.cnic || 'N/A' %></td>
                        <th scope="row">Date of Birth</th>
                        <td><%= employee.dob ? employee.dob.toDateString() : 'N/A' %></td>
                      </tr>
                      <tr>
                        <th scope="row">Contact</th>
                        <td><%= employee.contact || 'N/A' %></td>
                        <th scope="row">E-mail</th>
                        <td><%= employee.email || 'N/A' %></td>
                      </tr>
                      <tr>
                        <th scope="row">Home Address</th>
                        <td colspan="3"><%= employee.home_address || 'N/A' %></td>
                      </tr>
                      <tr>
                        <th scope="row">Role</th>
                        <td><%= toProperCase(employee.employee_type || 'N/A') %></td>
                        <th scope="row">Working Hours</th>
                        <td><%= toProperCase(employee.shift || 'N/A') %></td>
                      </tr>
                      <tr>
                        <th scope="row">Bank Account</th>
                        <td><%= employee.bank_account %></td>
                        <th scope="row">Created At</th>
                        <td><%= employee.created_at.toLocaleString() %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive"> 
                    <table
                      id="datatable-tracks"
                      class="table table-striped table-bordered dt-responsive nowrap"
                      cellspacing="0"
                      width="100%"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(tracks.length>0) {tracks.forEach((track, index) => { %>
                        <tr>
                          <td><%= index + 1 %></td>
                          <td><%= track.track_name %></td>
                          <td><%= track.description %></td>
                          <td>
                           
                              <a class="text-danger" href="/allocation/employeeTrack/delete/<%= track.employee_track_id %>">Delete</a>
                          
                          </td>
                        </tr>
                        <% })} else { %>
                          <tr>
                            <td style="text-align: center;" colspan="4">No record Found</td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>      
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive"> 
                    <table
                      id="datatable-vehicles"
                      class="table table-striped table-bordered dt-responsive nowrap"
                      cellspacing="0"
                      width="100%"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Reg_no</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(vehicles.length>0) {vehicles.forEach((vehicle, index) => { %>
                        <tr>
                          <td><%= index + 1 %></td>
                          <td><%= vehicle.full_name %></td>
                          <td><%= vehicle.reg_no %></td>
                          <td>
                           
                              <a class="text-danger" href="/allocation/employeeVehicle/delete/<%= vehicle.employee_vehicle_id %>">Delete</a>
                          
                          </td>
                        </tr>
                        <% })} else { %>
                          <tr>
                            <td style="text-align: center;" colspan="4">No record Found</td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#datatable-tracks , #datatable-vehicles').DataTable({
      columnDefs: [
        {
          targets: [],
          visible: false,
          searchable: false,
        },
        {
          targets: [],
          searchable: false,
          orderable: false,
        },
      ],
    });
  });
</script>
