<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="row" style="display: inline-block;">
      <div class="tile_count">
        <div class="col-md-auto col-sm-4  tile_stats_count">
          <span class="count_top"><i class="fa fa-users"></i> Total Employees</span>
          <div class="count"><%- employeeCount[0].Count %></div>
          <span class="count_bottom"><i class="green">Active </i></span>
        </div>
        <div class="col-md-auto col-sm-4  tile_stats_count">
          <span class="count_top"><i class="fa fa-trash"></i> Total Bins</span>
          <div class="count"><%- binsCount[0].Count %></div>
          <span class="count_bottom"><i class="green">Active </i></span>
        </div>
        <div class="col-md-auto col-sm-4  tile_stats_count">
          <span class="count_top"><i class="fa fa-truck"></i> Total Vehicles</span>
          <div class="count"><%- vehicleCount[0].Count %></div>
          <span class="count_bottom"><i class="green">Active </i> </span>
        </div>
        <div class="col-md-auto col-sm-4  tile_stats_count">
          <span class="count_top"><i class="fa fa-road"></i> Total Routes</span>
          <div class="count"><%- trackCount[0].Count %></div>
          <span class="count_bottom"><i class="green"> Active </i></span>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="x_title">
        <h2>Active Bins</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li>
            <a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <div id="map" style="height:450px"></div>
      </div>
    </div>
  </div>
</div>
<script>
  function initMap() {
    var locations = [];
    var level = [0, 17, 25, 41, 50];
    var remarks = ['Empty', 'Satisfactory', 'Filling Up', 'Filled'];
    ('<% bins.forEach((bin, index) => { %>');
    locations.push('<%- bin.latitude%>', '<%- bin.longitude%>','<%- bin.level%>');
    ('<% }); %>');

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,

      center: new google.maps.LatLng(locations[0], locations[1]),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
    });

    var markers, i;
    var x = 0;
    var y = 1;
    var z = 2;
    
    for (i = 0; i < locations.length / 3; i++) {
      // console.log('locations.length');
      if(locations[z]<5){
        markers = new google.maps.Marker({
        position: new google.maps.LatLng(locations[x], locations[y]),
        map: map,
        //  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        //  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        title: locations[z]+'-Filled',
      });
      }
      // if((location[z]>=15) && (location[z]<=20)  )
      else if(locations[z]<15) {
        markers = new google.maps.Marker({
        position: new google.maps.LatLng(locations[x], locations[y]),
        map: map,
        //  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
        //  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        title: locations[z]+' - Filling Up',
        });
      }
      else {
        markers = new google.maps.Marker({
        position: new google.maps.LatLng(locations[x], locations[y]),
        map: map,
        //  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        //  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        title: locations[z]+' - Filled',
        });

      }
     
      x = x + 3;
      y = y + 3;
      z = z + 3;
    }
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrRn7lda67UDaEaCRgAuPTLzPuJPyYAoM&callback=initMap"
></script>
